VITE_STRIPE_PUBLIC_KEY=pk_test_REEMPLAZAR
STRIPE_SECRET_KEY=sk_test_REEMPLAZAR
MONGODB_URI=mongodb+srv://REEMPLAZAR
VITE_API_URL=http://localhost:3000
KLAVIYO_API_KEY=pk_REEMPLAZAR
KLAVIYO_LIST_ID=REEMPLAZAR
RESTAURANT_NOTIFICATION_EMAIL=pedidos@supersushi.com
SENDGRID_API_KEY=SG.REEMPLAZAR
